.buttons {
  align-items:center;
  display:flex;
  justify-content:center;
  text-align:center
}

button {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.9rem 2.6rem;
  border-width: 0;
  cursor: pointer;

  backface-visibility:hidden;
  border:0;
  box-sizing:border-box;
  display:inline-block;
  text-decoration:none;
  white-space:nowrap;
  border: none;
  transition:transform 200ms ease;

  &:hover {
    filter:brightness(65%);
    transform:translateY(-0.5em);
    transition:filter 200ms ease;
  }
}

.button-green {
  background: #2ecc71;
  filter: drop-shadow(8px 8px 0px #3e8c54);
}

.button-red {
  background: #e74c3c;
  filter: drop-shadow(8px 8px 0px #9d3429);
}

button.hover {
  transition:transform 200ms ease
}
button.hover:hover {
  transform:translateY(-0.5em)
}