h1 {
  color: white;
}

p {
  color: var(--gray);
}

i {
  color: white;
}

button {
  transition: 1s;
  background-color: transparent;
  border-style: none;
}

.white-mode {
  transition: 1s;
  background-color: white;
  background-image: none;
  h1 {
    color: black;
  }

  p {
    color: var(--github);
  }

  i {
    color: black;
  }

  button {
    transition: 1s;
    background-color: transparent;
    border-style: none;
  }
}

.switch {
  cursor: pointer;
}
