.countdown-box {
    padding: 10px;
    background-color: var(--light-dark);
    color: white;
    opacity: 1;
    font-weight: 600;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    text-align: center;
}