section {
  margin-top: 4.5rem;
}

.center {
  text-align: center;
  padding: 1rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

img {
  width: 8rem;
}

p {
  margin-top: 0;
  width: 15rem;
  margin: auto;
}

i {
  margin: 0.9rem 0.3rem;
  font-size: 1.7rem;
  transition: 0.3s;
  filter: drop-shadow(1px 2px 4px #3b3b3b);

  &:hover {
    color: var(--gray);
    filter: drop-shadow(0 0 0.5rem #fff);
  }
}

a {
  color: white;
}

footer {
  position: absolute;
  bottom: 0.5rem;
}

@media (min-width: 800px) {
  section {
    margin-top: 18rem;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-img {
    text-align: left;
    padding: 20px;
    float: left;
  }
  .hero-text {
    text-align: left;
    padding: 20px;
    float: left;
  }
}

.copirajt {
  display: flex;
  margin-left: 1.5rem;
  text-align: left;
}

.copirajt-text {
  font-weight: 600;
}

.light-dark {
  position: absolute;
  display: column;
  right: 1rem;
  bottom: 0rem;
}

.dev-bage {
  width: 2.2rem;
  position: relative;
  top: 5px;
  left: -2px;
}